{{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
<div class="d-grid gap-2">
<input type="submit" value="{{ submitButtonText  }}" class="btn btn-primary btn-lg btn-block">
</div>
{{ form_end(formulaire) }}